@import url('https://fonts.googleapis.com/css?family=Gilda+Display');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-header {
    background-image: url("../images/trademark.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: red;
    background-position: center;

}

.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

#nav-collections {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 76, 76);
    font-size: 14px;
}

#nav-about {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 76, 76);
    font-size: 14px;
}

#nav-contact {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 76, 76);
    font-size: 14px;
}

#nav-blog {
    font-family: 'Roboto', sans-serif;
    color: rgb(78, 76, 76);
    font-size: 14px;
}

#nav-collections:hover{
    color: black;
}

#nav-about:hover{
    color: black;
}

#nav-contact:hover{
    color: black;
}

#nav-blog:hover{
    color: black;
}

#nav-collections-div{
    width: 100%; 
    /* height: 100px;  */
    /* background-color: red; */
    position: absolute;
    top: 110px;
    transition: 1s;
    background-color: white;
    padding-bottom: 100px;
}

#nav-about-div{
    width: 100%; 
    /* height: 100px;  */
    /* background-color: blue; */
    position: absolute;
    top: 110px;
    /* transition: 1s; */
    background-color: white;
    padding-bottom: 100px;
}

#nav-contact-div{
    width: 100%; 
    /* height: 100px;  */
    /* background-color: purple; */
    position: absolute;
    top: 110px;
    /* transition: 1s; */
    background-color: white;
    padding-bottom: 100px;
}

#nav-blog-div{
    width: 100%; 
    /* height: 100px;  */
    /* background-color: green; */
    position: absolute;
    top: 110px;
    transition: 1s;
    background-color: white;
    padding-bottom: 100px;
}

.nav-ul {
    list-style-type: none;
}

.nav-list-item {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: inline-block;
    width: 150px;
}

.show {
    height: 100px;
    display: block;
}

.hide {
    height: 0px;
    display: none;
}

/* ********************End of nav CSS************************* */


#original-collection-main {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    /* background-color: rgb(73, 73, 252); */
}

#original-collection-main-header {
    font-size: 36px;
    font-family: Cormorant Garamond;
}

#original-collection-main-pictures{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0%;
    padding-left: 0%;
    /* background-color: red; */
}

#picture1{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look1.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

/* #picture1:hover{
    opacity: .7;
}

#picture1:hover > div#picture-text1{
    visibility: visible;
} */


#picture2{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look2.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture2:hover{
    opacity: .7;
}
#picture2:hover > div#picture-text2{
    visibility: visible;
} */
#picture3{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look2A.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture3:hover > div#picture-text3{
    visibility: visible;
}
#picture3:hover{
    opacity: .7;
} */
#picture4{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look3.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture4:hover{
    opacity: .7;
}
#picture4:hover > div#picture-text4{
    visibility: visible;
} */
#picture5{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look3A.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture5:hover{
    opacity: .7;
}
#picture5:hover > div#picture-text5{
    visibility: visible;
} */
#picture6{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look4.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture6:hover{
    opacity: .7;
}
#picture6:hover > div#picture-text6{
    visibility: visible;
} */
#picture7{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look4A.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

/* #picture7:hover{
    opacity: .7;
}
#picture7:hover > div#picture-text7{
    visibility: visible;
} */
#picture8{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look5.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture8:hover{
    opacity: .7;
}
#picture8:hover > div#picture-text8{
    visibility: visible;
} */
#picture9{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look6.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture9:hover{
    opacity: .7;
}
#picture9:hover > div#picture-text9{
    visibility: visible;
} */
#picture10{
    width: 32%;
    height: 70vh;
    background-image: url("../images/Resort_Look6A.jpg");
    display:inline-block;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* #picture10:hover{
    opacity: .7;
}
#picture10:hover > div#picture-text10{
    visibility: visible;
} */

.picture-active {
    opacity: .7;
}

/* .picture-inactive {
    opacity: 1;

} */
.picture-text {
    color: white;
    position: relative;
    top: 40vh;
    left: 10%;
    font-family: Cormorant Garamond;
}

.picture-text-inactive {
    visibility: hidden;
}

.picture-text-active {
    visibility: visible;
}


/********************************* Beginning of footer CSS**************************** */
#footer-main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    padding: auto;
}

#footer-row1{
    height:300px; 
    display: inline-block; 
    width: 49%;
}

#footer-row2{
    display: inline-block; 
    height:300px; 
    width: 50%;
}

#footer-div-1 {
    /* background-color: red; */
    float: left;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    /* padding-left: 10%;
    padding-right: 10%; */
    height: 250px;
}

#footer-div-2 {
    /* background-color: #4CAF50; */
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 40%;
    padding-left: 5%;
    height: 250px;

}

#footer-div-3 {
    /* background-color: blueviolet; */
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 40%;
    padding-left: 5%;
    height: 250px;
}

.footer-items {
    color: #6B6B6B;
    text-decoration: none;
}

.footer-items:hover{
    color: black;
}

.grey-color {
    color: #6B6B6B;
}

#footer-face {
    color: #6B6B6B;
}

#footer-insta {
    color: #6B6B6B;
}

#footer-twi {
    color: #6B6B6B;
}

#footer-pin {
    color: #6B6B6B;
}

#footer-twi-text:hover {
    color: black;
}

#footer-face-text:hover {
    color: black;
}

#footer-insta-text:hover {
    color: black;
}

#footer-pin-text:hover {
    color: black;
}

.fa:hover{
    color: black;
}

#footer-div-4 {
    /* background-color: gold; */
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 10%;
    padding-right: 10%; */
    width: 40%;
    padding-left: 5%;
    height: 250px;
}

.fa {
    font-size: 20px;
    color: black;
}

.fb-ic{
    margin-right: 20px;
}

.tw-ic{
    margin-right: 13px;
}

.ins-ic {
    margin-right: 13px;
}

.pin-ic{
    margin-right: 13px;
}

#logo {
    position: relative; 
    bottom: 150px;
    right: 100px;
    float: right; 
    z-index: -1; 
    background-color: white; 
    height: 200px; 
    width: 200px;
}
@media screen and (max-width: 800px) {
    .box-div {
        width: 100%;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 766px) {
    #footer-row1{
        width: 90%;
    }

    #footer-row2 {
        width: 90%;
    }


}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #nav-collections-div{
        left: 100px;
        padding-bottom: 230px;
    }
    #nav-about-div{
        left: 100px;
        padding-bottom: 230px;

    }
    #nav-contact-div{
        left: 100px;
        padding-bottom: 230px;

    }
    #nav-blog-div{
        left: 100px;
        padding-bottom: 230px;
    }
    .box-div {

        height: 40vh;
    }

    .box-image-text-lg {
        font-size: 18px;
    }

    .box-image-text-sm {
        font-size: 14px;
    }
    #picture1 {
        height: 30vh;
    }
    #picture2 {
        height: 30vh;
    }
    #picture3 {
        height: 30vh;
    }
    #picture4 {
        height: 30vh;
    }
    #picture5 {
        height: 30vh;
    }
    #picture6 {
        height: 30vh;
    }
    #picture7 {
        height: 30vh;
    }
    #picture8 {
        height: 30vh;
    }
    #picture9 {
        height: 30vh;
    }
    #picture10 {
        height: 30vh;
    }
    .picture-text {
        top: 10vh;
    }
    #logo{
        padding-top: 50px;
        bottom: 5px;
        right: 125px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}